:root {
  font-family: "Arial", sans-serif;
  line-height: 1.5rem;

  --background: black;
  --foreground: rgba(200, 200, 200);
  --border: rgba(70, 65, 65);

  background: var(--background);
  color: var(--foreground);
}
